<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>
      Catalogo della 2a Biblioteca Arturiana
    </title>
    <link rel="stylesheet" href="{% static 'css/catalogo.css' %}">
  </head>
  <body>
    <div>
      <h1>Catalogo della 2a Bibliotica Arturiana</h1>
    </div>
    <p>This is a catalog of all the books that Arthur owns. This project was started in January 2018. </p>

    {% for book in books %}
    <div>
      <h2>{{ book.title }}</h2>
      <p>Cataloged: {{book.created_date}}</p>
      <p>{{ book.notes|linebreaksbr }}</p>
    <div>

    {% endfor %}

  </body>


</html>
